In [1]:
import pandas as pd

df = pd.read_csv("Fish.csv")
df.head()

   Id  size         env
0   1    11  freshwater
1   2    12  freshwater
2   3   100   saltwater
3   4    13  freshwater
4   5    14  freshwater

In [2]:
df['env'] = df['env'].map({'freshwater': 0, 'saltwater': 1})
df.head()

   Id  size  env
0   1    11    0
1   2    12    0
2   3   100    1
3   4    13    0
4   5    14    0

In [3]:
features = ['size']
target = ['env']

In [4]:
split = int(len(df)*0.8)

X = df[features]
y = df[target]

X_train = X[:split]
y_train = y[:split]

X_test = X[split:]
y_test = y[split:]
X_test

    size
40    31
41    99
42    32
43    33
44    87
45    40
46    41
47   100
48    42
49    49

In [5]:
actual = y_test.iloc[:,0].tolist()
result pd.DataFrame(list(zip(actual, predictions)), columns=['Actual', 'Predict'])
correct = result[result['Actual'] == result['Predict']]
Accuracy = len(correct) / len(result)
Accuracy

SyntaxError: invalid syntax (<ipython-input-5-71dfa85c3683>, line 2)